<%= render 'pages/home' if !user_signed_in? %>

<div class="panel panel-default">
  <div class="panel-heading">
   <h2>List of reporters</h2>
  </div>
  <div class="panel-body">

<% if user_signed_in? %>
    <%= link_to '+ Add Reporter', new_pin_path %>
<% end %>

<table style="width: 100%">
  <thead>
    <tr>
      <th><%= link_to "name", :sort => "name" %></th>
      <th><%= link_to "Publication", :sort => "publication" %></th>
      <th><%= link_to "Reporter Email", :sort => "repemail" %></th>
      <th><%= link_to "Blog", :sort => "blog" %></th>
      <th><%= link_to "Linkedin", :sort => "linkedin" %></th>
      <th><%= link_to "Twitter", :sort => "twitter" %></th>
      <th><%= link_to "Facebook", :sort => "facebook" %></th>
      <th>Snitch</th>
      <th>Reporter Interests</th>

    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <tr>
        <td><%= pin.name %></td>
        <td><%= pin.publications.map(&:name).join(", ") if pin.publications %> </td>


        <td>
          <% if user_signed_in? %>
            <%= pin.repemail %>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
          <% end %>
        </td>

        <td>
          <% if user_signed_in? %>
            <a target="_blank" href="http://<%= pin.blog %>"><%= pin.blog %>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
          <% end %>
        </td>

        <td>
          <% if user_signed_in? %>
            <a target="_blank" href="http://<%= pin.linkedin %>"><%= pin.linkedin %></a>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
          <% end %>
        </td>

        <td>
          <% if user_signed_in? %>
            <a target="_blank" href="http://<%= pin.twitter %>"><%= pin.twitter %></a>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
          <% end %>
        </td>

        <td>
          <% if user_signed_in? %>
            <a target="_blank" href="http://<%= pin.facebook %>"><%= pin.facebook %></a>
          <% else %>
            <%= link_to "Log in", new_user_session_path %>
          <% end %>
        </td>

        <td><%= pin.user.Nickname if pin.user %></td>

        <td><%= pin.interests.map(&:name).join(", ") if pin.interests %> </td>

        <td><%= link_to 'Show', pin %></td>

        <% if user_signed_in? %>
        <% if pin.user == current_user %>
          <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
          <td><%= link_to 'Delete', pin, method: :delete, data: { confirm: 'Sure about that?' } %></td>
        <% end %>
        <% end %>


      </tr>
    <% end %>
  </tbody>
</table>

<br>