<div class="panel panel-default">
	<div class="panel-heading">

<p>
  <strong>name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @pin.publication %>
</p>

<p>
  <strong>RepEmail:</strong>
  <%= @pin.repemail %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @pin.blog %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @pin.linkedin %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @pin.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @pin.facebook %>
</p>

<p>
  <strong>Interests:</strong>
<%= @pin.interests.map(&:name).join(", ") if @pin.interests %>
</p>


	</div>

<div class="panel-footer">
<% if user_signed_in? %>
  <% if @pin.user == current_user %>
  <%= link_to 'Edit', edit_pin_path(@pin) %> |
  <% end %>
<% end %>
<%= link_to 'Back', pins_path %>
	</div>
