<!DOCTYPE html>
<html>
<head>
<meta content='Press Rolodex' property='og:title'>
<meta content='website' property='og:type'>
<meta content='http://PressRolodex.com/' property='og:url'>
<meta content='Press Rolodex' property='og:site_name'>
<meta content="Press Rolodex is a database of reporter contact details. It's free, it's community generated and it's awesome." property='og:description'>

  <title>Press Rolodex</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%=javascript_include_tag "application"%>

  <%= csrf_meta_tags %>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %> 
		<%= yield %>
	</div>

</body>
</html>
